# {{name}}

{{description}}

    {{banner}}


## Available options:

```
{{#options}}
    {{name}}: {{long}}{{#short}}, {{short}}{{/short}}
        {{description}}

{{/options}}
```

## Example

    {{example}}
